<h1>Tamagotchis</h1>
<h3>Add a new Tamagotchi:</h3>
<form action="/Tamagotchis" method="post">
  <label for="new-Tamagotchi">Tamagotchis Name</label>
  <input type="text" name="new-Tamagotchi" id="new-Tamagotchi">
  <button type="submit">Add Tamagotchi</button>

</form>
